@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

@import "tailwindcss";
@plugin 'tailwindcss-animate';
@source '../../*.{js,ts,jsx,tsx,mdx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-background: var(--color-white);
  --color-foreground: var(--color-default-900);
  --color-divider: var(--color-default-300);
  --color-focus: var(--color-primary-600);
  --color-content1: var(--color-default-50);
  --color-content2: var(--color-default-200);
  --color-content3: var(--color-default-300);
  --color-content4: var(--color-default-400);

  --color-default-50: #f6f6f6;
  --color-default-100: #e7e7e7;
  --color-default-200: #d1d1d1;
  --color-default-300: #b0b0b0;
  --color-default-400: #888888;
  --color-default-500: #6d6d6d;
  --color-default-600: #5d5d5d;
  --color-default-700: #4f4f4f;
  --color-default-800: #454545;
  --color-default-900: #3d3d3d;
  --color-default-950: #1a1a1a;

  --color-gray-50: var(--color-default-50);
  --color-gray-100: var(--color-default-100);
  --color-gray-200: var(--color-default-200);
  --color-gray-300: var(--color-default-300);
  --color-gray-400: var(--color-default-400);
  --color-gray-500: var(--color-default-500);
  --color-gray-600: var(--color-default-600);
  --color-gray-700: var(--color-default-700);
  --color-gray-800: var(--color-default-800);
  --color-gray-900: var(--color-default-900);

  --default-primary: #193c89;
  --color-primary-50: #eef7ff;
  --color-primary-100: #daecff;
  --color-primary-200: #bddfff;
  --color-primary-300: #8fcbff;
  --color-primary-400: #5aadff;
  --color-primary-500: #348bfd;
  --color-primary-600: #1e6bf2;
  --color-primary-700: #1656df;
  --color-primary-800: #1945b4;
  --color-primary-900: #193c89;
  --color-primary-950: #152756;

  --default-primary: #efc100;
  --color-secondary-50: #fffee7;
  --color-secondary-100: #fffec1;
  --color-secondary-200: #fff986;
  --color-secondary-300: #ffee41;
  --color-secondary-400: #ffdd0d;
  --color-secondary-500: #efc100;
  --color-secondary-600: #d19700;
  --color-secondary-700: #a66b02;
  --color-secondary-800: #89530a;
  --color-secondary-900: #74440f;
  --color-secondary-950: #442304;

  --default-primary: #603dc8;
  --color-accent-50: #fff4fe;
  --color-accent-100: #ffe8fe;
  --color-accent-200: #fed0fa;
  --color-accent-300: #fbacf0;
  --color-accent-400: #f87ae6;
  --color-accent-500: #ee47d5;
  --color-accent-600: #d227b5;
  --color-accent-700: #ae1d92;
  --color-accent-800: #891972;
  --color-accent-900: #741b60;
  --color-accent-950: #4d053d;

  --color-info: #2f80ed;
  --color-success: #27ae60;
  --color-warning-50: #f2c94c;
  --color-danger-50: #eb5757;
  --font-poppins: "Poppins", sans-serif;
}

.bg-gradient-radial {
  background: radial-gradient(ellipse at center, #e1e2fe, #c8cafd, #a8a7fa);
}

@layer utilities {
  .fancy-gradient-bg {
    background: linear-gradient(
          to bottom right,
          var(--Primary-400, #5aadff) 0%,
          var(--Primary-100, #daecff) 50%
        )
        bottom right / 50% 50% no-repeat,
      linear-gradient(
          to bottom left,
          var(--Primary-400, #5aadff) 0%,
          var(--Primary-100, #daecff) 50%
        )
        bottom left / 50% 50% no-repeat,
      linear-gradient(
          to top left,
          var(--Primary-400, #5aadff) 0%,
          var(--Primary-100, #daecff) 50%
        )
        top left / 50% 50% no-repeat,
      linear-gradient(
          to top right,
          var(--Primary-400, #5aadff) 0%,
          var(--Primary-100, #daecff) 50%
        )
        top right / 50% 50% no-repeat;
    background-repeat: no-repeat;
  }

  .custom-gradient-border {
    border-radius: 2px;
    background: linear-gradient(
      180deg,
      var(--Secondary-200, #fff986) 0%,
      var(--Accent_purple-500, #ee47d5) 100%
    );
  }
}
